<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/" href="#">作業</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            @if(accountService.currentUser()){
                <li class="nav-item">
                    <a routerLink="/members" routerLinkActive="active" 
                    class="nav-link active">已配對</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/lists" routerLinkActive="active" class="nav-link">連結</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/messages" routerLinkActive="active" class="nav-link">訊息</a>
                </li>                                                                   
            }
            <li class="nav-item">
                <a routerLink="/errors" routerLinkActive="active" class="nav-link">Errors</a>
            </li>        
        </ul>
        
       
        
        @if(accountService.currentUser()){
            <div class="dropdown" dropdown> <!-- 加入 dropdown 指令 -->
                <a class="dropdown-toggle text-light text-decoration-none" dropdownToggle> <!-- 加入 dropdownToggle -->
                    歡迎 {{accountService.currentUser()?.username | titlecase}}
                </a>
                <ul class="dropdown-menu mt-3" *bsDropdownMenu> <!-- 使用 ul 和 li -->
                    <li><a class="dropdown-item">編輯</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" (click)="logout()">登出</a></li>
                </ul>
            </div>
        }

        @if(!accountService.currentUser()){
            <form  #loginForm="ngForm" (ngSubmit)="login()" class="form-inline mt-2 mt-md-0"  
            autocomplete="off">
            <div class="input-group">
                <input 
                name="username"
                [(ngModel)]="model.username"
                class="form-control me-2" 
                type="text" 
                placeholder="Username">
                <input      
                    name="password"
                    [(ngModel)]="model.password"      
                    class="form-control me-2" 
                    type="password" 
                    placeholder="Password">
                <button class="btn btn-success" type="submit">Login</button>
            </div>
            
        </form>
        }
        
    </div>

</nav>
